*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --laranja: #F3983D;
    --preto: #0B0B0B;
    --pêssego-claro: #F5C798;
    --branco: #FFFFFF;
    --fonte-titulo: "Instrument Sans", sans-serif;
    --fonte-texto: "Inter", sans-serif;
}

body{
    font-family: var(--fonte-titulo);
}

.container{
    max-width: 1400px;
    margin: 0 auto;

}

#topo{
    min-height: 600px;
    background-color: var(--pêssego-claro);
    text-align: center;
    height: 850px;
    padding: 20px 10px;
}

#menu-topo ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 275px;
    margin: 30px o;
    padding: 0;
    margin-top: -20px;
}
#menu-topo li{
    padding-bottom: 20px;
    
}
#menu-topo a{
    color: var(--branco);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    
}
#menu-topo a:hover{
    color: var(--laranja);
    text-decoration: underline;
    
}
h2{
    font-size: 64px;
    margin-left: 60px;
   
}
#frasedois{
    margin-left: 60px;
    font-size: 64px;
    grid-column: 1/2;

    
}
#frase1{
    grid-column: 1/2;
    height: 100px;
}
.texto-laranja{
    color:var(--laranja);
}
#primeira{
    width: 100%;
    grid-column: 2/3; 
    grid-row: 1/2;
    height: 400px;
    width: 600px;
    margin-left: 40px;
}
.img1{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

#info{
    min-height: 400px;
    background-color: var(--laranja);
    padding: 20px 10px;
}

#info h3{
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
    font-weight: 200px;
    color: var(--branco);
    text-align: center;
    padding: 15px;
}
#info .imagens-literatura{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 20px;

}

#info .imagens-literatura img{
    width: 330px;
    height: 298px;
}

#info .imagens-literatura h4 a{
    text-decoration: none;
    color: var(--branco);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 10px;
}

#novidades{
    min-height: 400px;
    background-color: var(--pêssego-claro);
    padding: 20px 10px;
}
.container h3{
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
    font-weight: 200px;
    color: var(--branco);
    text-align: center;
    padding: 15px;
}

.produtos{
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
}

.produtos article{
    text-align: center;
}

.imglivros{
    width:200px;
    height: auto;
    border-radius: 10px;

}

.produtos h4 a{
    color: var(--preto);
    text-decoration: none;
    font-weight: bold;
}

#quemsou{
    min-height: 400px;
    background-color: var(--laranja);
    padding: 20px 10px;
}
h3{
    color: var(--branco);
    text-align: center;
    font-family: var(--fonte-titulo);
}
#quemsou #container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

.mulher{
    width: 500px;
    height: auto;

}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--branco);
    font-family: var(--fonte-titulo);
}
.texto h3{
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 20px;

}
.texto p{
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--fonte-texto);
    justify-content: center;
    align-items: center;
}
#nossalivraria{
    background-color: var(--pêssego-claro);
    padding: 40px;
    
}
#nossalivraria .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    color: var(--preto);
}
#nossalivraria .imagem{
    width: 500px;
    text-align: center;
}
#nossalivraria .imagem .imgult{
    width: 100%;
    display: block;
    
}
#nossalivraria h3{
    color: var(--preto);
    font-size: 24px;
    margin-bottom: 10px;
}
#nossalivraria .imagem h3{
    color:var(--preto);
    font-size: 22px;
    margin-bottom: 10px;
    position: static;
    
}
#nossalivraria p{
    color: var(--preto);
    font-size: 18px;
    line-height: 1.5;
    max-width: 500px;
}

#rodape{
    background-color: var(--branco);
    min-height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
#rodape .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rodape #redes{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}
#rodape #redes img:hover{
    transform: scale(1.2);
}
#rodape h3{
    font-size: 16px;
    color: var(--preto);
    font-weight: 400;
}
.grid-rodape{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.sociais{
    width: 50px;
    height: 50px;

}

#pagdelivros{
    background-color: var(--laranja);
}
#pagdelivros h3{
    font-family: var(--fonte-titulo);
    color: var(--branco);
    text-align: center;
    justify-content: center;
}
.vendas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
}
.vendas article:hover{
    transform: scale(1.05);
}
.coraline{
    width: 170px;
    padding: 8px;
}
.harry{
    width: 170px;
    padding: 8px;
}
.lagrimas{
    width: 170px;
    padding: 8px;
   
}
.desacelera{
    width: 170px;
    padding: 8px;
}
.pijama{
    width: 170px;
    padding: 8px;
}
.promessa{
    width: 170px;
    padding: 8px;
}
.vendas h4{
    color: var(--preto);
    text-decoration: none;
    font-size: 16px;
    margin-top: 8px;
    font-weight: bold;
    text-align: center;
    font-family: var(--fonte-titulo);
    justify-content: center;
}
.vendas h4 a{
    color: var(--preto);
}
.voltar{
    display: block;
    text-align: center;
    color: var(--branco);
    text-decoration: none;
    font-weight: bold;
    margin-top: 80px;
    font-size: 20px;
}
.voltar:hover{
    text-decoration: underline;
}

#pagnos{
    background-color: var(--laranja);
}
#pagnos p{
    color: var(--branco);
    font-family: var(--fonte-texto);
    justify-content: center;
    text-align: center;
    margin: 20px 10px;
}
#pagnos h1{
    color: var(--branco);
    font-family: var(--fonte-titulo);
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}
.imagens{
display: flex;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
}
.claraesofia{
    width: 45%;
    margin: 10px;
}

#formular a{
    color: var(--preto);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    
}
#formular a:hover{
    color: var(--laranja);
    text-decoration: underline;
    
}



#acaba{
    background-color: var(--laranja);
    
}

.fale{
    font-family: var(--fonte-titulo);
    color: var(--preto);
    
}

















@media (max-width: 1024px) {

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    background-color: var(--pêssego-claro);
  }

  .container {
    max-width: 1024px;
    margin: auto;
    padding: 0 20px;
  }

  #topo {
    background-color: var(--pêssego-claro)

}

  #topo h1 img {
    max-width: 700px;
  }

  #menu-topo ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 40px 0;
  }

  #menu-topo a {
    text-decoration: none;
    color: white;
    font-weight: 700px;
  }

  .img1 {
    background-color: #f6caa1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    gap: 30px;
    margin-top: -50px;
  }

  .img1 h2 {
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 0;
    font-size: 40px;
  }

  #frase1 {
    font-size: 50px;
    margin-left: 0px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  #frasedois {
    margin-left: 0;
    font-size: 50px;
  }

  .texto-laranja {
    color: #ff7a45;
     font-size: 50px;
  }

  #primeira {
    max-width: 330px;
    height: 300px;
  }

#info h3{
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
    font-weight: 200px;
    color: var(--branco);
    text-align: center;
    padding: 15px;
}
#info .imagens-literatura{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 0px;

}

#info .imagens-literatura img{
    width: 280px;
    height: 248px;
}

#info .imagens-literatura h4 a{
    text-decoration: none;
    color: var(--branco);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.container h3{
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
    font-weight: 200px;
    color: var(--branco);
    text-align: center;
    padding: 30px;
}

.produtos{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.produtos article{
    text-align: center;
}

.imglivros{
    width:200px;
    height: auto;
    border-radius: 10px;
 
}

.produtos h4 a{
    color: var(--preto);
    text-decoration: none;
    font-weight: bold;
}

#nossalivraria .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: var(--preto);
}
#nossalivraria .imagem{
    width: 2500px;
    text-align: center;
}
#nossalivraria .imagem .imgult{
    width: 100%;
    display: block;
    
}
#nossalivraria h3{
    color: var(--preto);
    font-size: 60px;
    
}
#nossalivraria .imagem h3{
    color:var(--preto);
    font-size: 22px;
    margin-bottom: 10px;
    position: static;
    
}
#nossalivraria p{
    color: var(--preto);
    font-size: 18px;
    line-height: 1.5;
    max-width: 500px;
}

}

@media (max-width: 768px){
    #nossalivraria .container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        color: var(--preto);
    }
    #nossalivraria .imagem{
        width: 2500px;
        text-align: center;
    }
    #nossalivraria .imagem .imgult{
        width: 100%;
        display: block;
        
    }
    #nossalivraria h3{
        color: var(--preto);
        font-size: 60px;
        
    }
    #nossalivraria .imagem h3{
        color:var(--preto);
        font-size: 22px;
        margin-bottom: 10px;
        position: static;
        
    }
    #nossalivraria p{
        color: var(--preto);
        font-size: 11px;
        line-height: 1.5;
        max-width: 500px;
}
}